  body{
    background-color:white;
  }

  .svg{
    transform: scale(0.5);
  }

  .svg2{
    transform: scale(0.5);
    /* margin-left: -30%; */
    margin-top: -10%;
  }
  .title{
    display: flex;
    justify-content: center;
  }
  .css-i1hrn3-MuiTypography-root{
    display: flex !important;
    justify-content: center !important;
    margin-top: 20%;
    font-weight: 400;
    margin-bottom: 0;
    color: black;
  }

  .css-1vw6mcs-MuiTypography-root{
    display: flex !important;
    justify-content: center !important;
    font-style: italic;
    padding-left: 30%;
    color: black;
  }

  .image{
    display: flex !important;
    justify-content: center;
  }

  section.is-medium {
    padding: 4rem 1.5rem !important;
}

.main{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.so{
  transform: scale(0.4);
  /* margin-left: -10%; */
  z-index: 0;
  position: relative;
  margin-left: 25%;
  margin-top: 25vh;
  overflow: hidden;
  /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}
.text1{
  text-shadow: 2px 2px 8px black;
}
.para{
  font-weight: 600;
  font-size: 25px;
}
.text{
  z-index: 10;
  position: absolute;
  width: 40%;
  margin-top: -15%;
  overflow: hidden;
  color: black;
  /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}
@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
    transform: translatey(0px);
  }
  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
    transform: translatey(-20px);
  }
  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
    transform: translatey(0px);
  }
}